# Lecute 6 coding

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

from sklearn.cluster import KMeans

# helpers
import sys
sys.path.append(r"C:\Users\terje\DataspellProjects\tub_advanced_ds")
from src.helpers import feature_importance_plot
from src.helper_classes import EDA, Model

In [3]:
uk_customers = EDA("../data/online_history_cleaned.pkl")

In [6]:
# Check shape and info
uk_customers.summary()

______________________________ Info ______________________________

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397925 entries, 0 to 531285
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      397925 non-null  object
 1   StockCode    397925 non-null  object
 2   Quantity     397925 non-null  int64
 3   InvoiceDate  397925 non-null  datetime64[ns]
 4   Price        397925 non-null  float64
 5   CustomerID   397925 non-null  object
 6   Country      397925 non-null  object
 7   Description  397925 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 27.3+ MB
None
______________________________ Sample rows ______________________________

       Invoice StockCode  Quantity         InvoiceDate  Price CustomerID  \
165255  551142     21340         3 2011-04-26 13:22:00  12.75     u17613
378032  570228     20728         2 2011-10-09 13:28:00   1.65     u15821
524133  581166     23505         1 2011-12-07 14:43:00   1.25     u15525
418726  573396     21231         2 2011-10-30 15:13:00   1.25     u14723
168628  551531     22423         2 2011-05-01 13:45:00  12.75     u15376
395259  571653    79302M        12 2011-10-18 12:17:00   2.55     u14298
381643  570488     22903         1 2011-10-10 17:12:00   2.46     u14096
246700  559061     20674         2 2011-07-06 10:04:00   1.25      u1722
295141  563328     22315         1 2011-08-15 13:07:00   1.25     u14606
137456  548400     22191         1 2011-03-30 17:33:00   8.50       u174

               Country                          Description
165255  United Kingdom  CLASSIC METAL BIRDCAGE PLANT HOLDER
378032  United Kingdom                  LUNCH BAG CARS BLUE
524133  United Kingdom         PLAYING CARDS I LOVE LONDON
418726  United Kingdom       SWEETHEART CERAMIC TRINKET BOX
168628  United Kingdom             REGENCY CAKESTAND 3 TIER
395259  United Kingdom               ART LIGHTS,FUNK MONKEY
381643  United Kingdom           CALENDAR FAMILY FAVOURITES
246700  United Kingdom                  GREEN POLKADOT BOWL
295141  United Kingdom         200 RED + WHITE BENDY STRAWS
137456  United Kingdom               IVORY DINER WALL CLOCK
______________________________ Description ______________________________

            Quantity          Price
count  397925.000000  397925.000000
mean       13.021793       3.116212
std       180.419984      22.096773
min         1.000000       0.000000
25%         2.000000       1.250000
50%         6.000000       1.950000
75%        12.000000       3.750000
max     80995.000000    8142.750000
______________________________ Standard deviation ______________________________

Quantity                        180.419984
InvoiceDate    112 days 19:45:43.156303074
Price                            22.096773
dtype: object

In [7]:
uk_customers.identify_missing_data()

             percent_missing           dtype
Invoice                  0.0          object
StockCode                0.0          object
Quantity                 0.0           int64
InvoiceDate              0.0  datetime64[ns]
Price                    0.0         float64
CustomerID               0.0          object
Country                  0.0          object
Description              0.0          object

In [13]:
uk_customers.df = uk_customers.df.drop_duplicates()
uk_customers.df

,Invoice,StockCode,Quantity,InvoiceDate,Price,CustomerID,Country,Description
0,536365,85123A,6,2010-12-01 08:26:00,2.55,u1785,United Kingdom,CREAM HANGING HEART T-LIGHT HOLDER
1,536365,71053,6,2010-12-01 08:26:00,3.39,u1785,United Kingdom,WHITE MOROCCAN METAL LANTERN
2,536365,84406B,8,2010-12-01 08:26:00,2.75,u1785,United Kingdom,CREAM CUPID HEARTS COAT HANGER
3,536365,84029G,6,2010-12-01 08:26:00,3.39,u1785,United Kingdom,KNITTED UNION FLAG HOT WATER BOTTLE
4,536365,84029E,6,2010-12-01 08:26:00,3.39,u1785,United Kingdom,RED WOOLLY HOTTIE WHITE HEART.
...,...,...,...,...,...,...,...,...
531281,581587,22899,6,2011-12-09 12:50:00,2.10,u1268,France,CHILDREN'S APRON DOLLY GIRL
531282,581587,23254,4,2011-12-09 12:50:00,4.15,u1268,France,CHILDRENS CUTLERY DOLLY GIRL
531283,581587,23255,4,2011-12-09 12:50:00,4.15,u1268,France,CHILDRENS CUTLERY CIRCUS PARADE
531284,581587,22138,3,2011-12-09 12:50:00,4.95,u1268,France,BAKING SET 9 PIECE RETROSPOT
531285,581587,POST,1,2011-12-09 12:50:00,18.00,u1268,France,POSTAGE